@import "~styles/variables.sass"

.funnelTrack__icons
	width: 100%
	margin-top: 10px
	display: flex
	align-items: center
	justify-content: center
	background-color: #fffff !important
	height: 40px
	position: relative
	
    	
	.funnelTrack__icon
		width: 40px
		height: 40px
		position:relative !important
		border: 2px solid $ship-cove
		border-radius: 20px
		display: inline-flex
		align-items: center
		justify-content: center
		z-index: 1
		margin-right: 13%

		&:last-child
			margin-right: 0%

		img
			width: 70%
			height: 70%

	.funnelTrack__icon-containers
		&:after
			content: '';
			position: absolute;
			width: 70px
			border: 1px solid #809DBC;
			left: 106%;
			z-index: -1