<div class="ContactExpert">
	<div class="ContactExpert__icons">
		<div class="ContactExpert__icon ContactExpert__icon--right">
			<img src="{{$ctrl.shirtImg}}"/>
		</div>

		<div class="ContactExpert__icon ContactExpert__icon--right">
			<img src="{{$ctrl.userImg}}"/>
		</div>

		<div class="ContactExpert__icon">
			<img src="{{$ctrl.boxxxImg}}"/>
		</div>
	</div><!-- ContactExpert__Icons -->

	<div class="ContactExpert__confirm"> 
		<div class="ContactExpert__expert-img" style="background-image: url({{$ctrl.stylistImg}})"></div>
		<div class="ContactExpert__text">
			<p>
			Would you like to schedule call with your stylist before
			 they pack your box?</p>
		</div>
	</div>
	
	<div class="ContactExpert__confirmBox">
		<div class="ContactExpert__box">
			<div class="ContactExpert__text-image">
				<img src="{{$ctrl.calendariconImg}}" alt="">
				<span>Yes, Please</span>
			</ditimeSlotsv>
			<input type="checkbox"  ng-click="clickbox()">
		</div>
	</div>

	<div class="ContactExpert__contact-stylist-form" ng-if="contactExpertFlag">
		<p>Schedule a call with your stylist at a time to suit you, to talk about your order, style and preferences.</p>

		<div class="ContactExpert__contact-phone">
			<div class="ContactExpert__phoneNumber">
				<span>Contact Telephone Number</span>
				<input type="text" class="form-control">
				<input type="text" class="form-control">
			</div>
		</div>

		<div class="ContactExpert__date-pick">
			<span>Pick a day and time</span>
			<div class="ContactExpert__arrow ContactExpert__arrow--left" ng-click="moveCarousel('left')">
				<img src="{{left}}" alt="">
			</div>
			<div class="ContactExpert__date-picker">
				<div class="ContactExpert__schedule">
					<div class="ContactExpert__day" ng-repeat="timeslot in timeSlots" ng-click="showTime(timeslot.slots)">
						<span>{{timeslot.date | date:'EEEE'}}</span>
						<span>{{timeslot.date | date:'MMM d'}}</span>
					</div>
				</div>

				<div class="ContactExpert__time">
					<div ng-if="slots.length>1" ng-repeat="slot in slots">
						{{slot.start}}
						<input type="checkbox" ng-model="timeSelect">
					</div>
				</div>
				<div ng-if="slots.length==0" class="ContactExpert__time" >
						<span>Sorry there are no available</span>
						<span>Slots on {{timeslot.date | date:'EEEE'}},
						{{timeslot.date | date:'d LLLL'}}</span>
				</div>
			</div>
			<div class="ContactExpert__arrow ContactExpert__arrow--right">
				<img src="{{right}}" alt="" ng-click="moveCarousel('right')">
			</div>
		</div>
	</div>

	<div class="ContactExpert__share-with">
		<span>
			Is there anything else that you would like to 
			share with your Stylist
		</span>

		<textarea ng-model="shareWithStylist"></textarea>
	</div>

	<div class="ContactExpert__confirmOrder">
		<a  ng-click="submitOrder()" class="uppercase btn btn-primary" translate="Confirm Order"></a>
	</div>
</div><!-- ContactExpert -->