<div class="ContactExpert">
	<div class="ContactExpert__icons">
		<div class="ContactExpert__icon ContactExpert__icon--right">
			<img src="{{$ctrl.shirtImg}}"/>
		</div>

		<div class="ContactExpert__icon ContactExpert__icon--right">
			<img src="{{$ctrl.userImg}}"/>
		</div>

		<div class="ContactExpert__icon">
			<img src="{{$ctrl.boxxxImg}}"/>
		</div>
	</div><!-- ContactExpert__Icons -->

	<div class="ContactExpert__confirm"> 
		<div class="ContactExpert__expert-img" style="background-image: url({{$ctrl.stylistImg}})"></div>
		<div class="ContactExpert__text">
			<p>
			Would you like to schedule call with your stylist before
			 they pack your box?</p>
		</div>
	</div>

	<div class="ContactExpert__confirmBox">
		<div class="ContactExpert__box">
			<img src="{{$ctrl.calendariconImg}}" alt="">
			<span>Yes, Please</span>
			<input type="checkbox" class="form-control" ng-click="">
		</div>
	</div>
</div><!-- ContactExpert -->