<div class="ContactExpert">
	<div class="ContactExpert__icons">
		<div class="ContactExpert__icon ContactExpert__icon--right">
			<img src="{{$ctrl.shirtImg}}"/>
		</div>

		<div class="ContactExpert__icon ContactExpert__icon--right">
			<img src="{{$ctrl.userImg}}"/>
		</div>

		<div class="ContactExpert__icon">
			<img src="{{$ctrl.boxxxImg}}"/>
		</div>
	</div><!-- ContactExpert__Icons -->


	<div class="ContactExpert__confirm">
		<div class="ContactExpert__expert-img"></div> 
		<div class="ContactExpert__text"></div>
	</div>

</div><!-- ContactExpert -->