@import "~styles/variables.sass"

.ContactExpert
	width: 100%
	background-color: #ffffff !important

	.ContactExpert__icons
		width: 100%
		margin-top: 10px
		display: flex
    	align-items: center
		justify-content: center
    	
		.ContactExpert__icon
			width: 40px
			height: 40px
			position:relative !important
			border: 2px solid $ship-cove
			border-radius: 20px
			display: inline-flex
			align-items: center
			justify-content: center

			img
				width: 70%
				height: 70%

	.ContactExpert__confirm
		width: 100%
		margin-top: 7%
		margin-bottom: 13px
		.ContactExpert__expert-img
			display: inline-block
			width: 68px
			height: 68px
			background-repeat: no-repeat
			margin-left: 10%
			margin-top: 3%

		.ContactExpert__text
			padding: 0 5% 0 0
			float: right
			width: 65%
			display: inline-block
			font-face: Gotham-Bold
			font-size: 16px

	.ContactExpert__confirmBox
		width: 100%
		overflow: hidden

		.ContactExpert__box
			width: 212px
			height: 38px
			margin-left: 35%
			border: 2px solid $ship-cove
			
			input[type="checkbox"]
				float: right

			.ContactExpert__text-image
				display: inline-flex
				align-items: center
				justify-content: center
				padding-top: 3%
				padding-left: 3%
				font-weight: 100
				
				span
					font-family: "OpenSans"
					margin-left: 9px

	.ContactExpert__contact-stylist-form
		background-color: $gallery

		span
			font-size: 14px
			line: 19px
			opacity: 100%
			font-family: "OpenSans"

.ContactExpert__icon--right
	margin-right: 13%

	&:after
		content: '';
		position: absolute;
		width: 143%;
		border: 1px solid #809DBC;
		left: 106%;