<div class="successSection">
	<ps-funnel-track></ps-funnel-track>

	<div class="successSection__stylist-contact">
		<img src="{{stylist}}" alt="stylist">
		<p>Thank you very much! Julia will now start putting together your
		OUTFITTERY BOX.</p>
	</div>

	<div class="successSection__order-details">
		<div class="successSection__details-info">
			<h4 class="successSection__orderheader">Your order details</h4>
			
			<div class="successSection__detail-section">
				<img src="{{wallet}}" alt="">
				<span class="successSection__detail-title">Payment Method: Invoice</span>
			</div>

			<div class="successSection__hiden-details">
				<div class="successSection__detail-section">
					<img src="{{house}}" alt="">
					<span class="successSection__detail-title">Payment Method: Invoice</span>
					<p class="successSection__detail-description">Josh Homme c/0 görlitzer str 55</p>
				</div>

				<div class="successSection__detail-section">
					<img src="{{money}}" alt="">
					<span class="successSection__detail-title">Payment Method: Invoice</span>
					<p class="successSection__detail-description">Josh Homme c/0 görlitzer str 55</p>
				</div>
			</div>
		</div>
	</div>
</div>