<!doctype html>
<html ng-app="ps-app" lang="en">
<head>
  <meta charset="UTF-8">
  <title ng-bind="Outfittery"></title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  <!-- Google Tag Manager for Marketing -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0" />
  <base href="<%= htmlWebpackPlugin.options.baseUrl || '/' %>">
  <link rel="stylesheet" href="/css/outfitteryFonts.css">
</head>
<body>
  <ui-view></ui-view>
</body>
</html>
